<!doctype html>
<html lang="pt" data-ng-app="BeMEAN">
    <head>
        <meta charset="utf-8">
        <title>Be MEAN</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <style>
            .wrapper {
                max-width: 600px;
                margin: 0 auto;
            }
            .animate {
                transition: all linear 0.5s;
            }
            .ng-hide {
                height: 0;
            }
        </style>
    </head>
    <body data-ng-controller="UserController as User">
        <div class="row wrapper">
            <h1>{{ User.titulo }}</h1>
            <p class="col s12">
                <label for="name">
                    <input type="text" id="name" data-ng-model="User.form.name" placeholder="Nome">
                </label>
                <br>
                <label for="email">
                    <input type="email" id="email" data-ng-model="User.form.email" placeholder="Email">
                </label>
            </p>
            <button data-ng-hide="User.editing" data-ng-click="User.add(User.form)" class="btn btn-large animate green waves-effect waves light col s12" type="submit" name="action">Adicionar</button>
            <button data-ng-hide="!User.editing" data-ng-click="User.save(User.form)" class="btn btn-large animate blue waves-effect waves light col s12" type="submit" name="action">Salvar</button>
            <span data-ng-init="predicate = 'name'; reverse = true; "></span>        
            <table>
                <thead>
                    <tr>
                        <th colspan="4">
                            <label>
                                <input data-ng-model="searchUser" placeholder="O que você procura?">
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in User.users | filter:searchUser">
                        <td>
                            <input type="checkbox" id="user-{{$index}}" data-ng-model="user.selecionado" />
                            <label for="user-{{$index}}"></label>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button data-ng-click="User.edit(user, $index)" class="btn green waves-effect waves light col s12" type="submit" name="action">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">
                Deletar
            </button>
        </div>
        <script src="angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-animate.js"></script>
        <script>
            
            angular.module('BeMEAN', ['ngAnimate'])
            .controller('UserController', UserController);
            
            function UserController() {
                var vm = this;
                vm.titulo = 'Be MEAN';
                vm.editing = false;
                vm.users = [
                    { name: 'Lucas Boeing Scarduelli', email: 'lucas@scarduelli.com' },
                    { name: 'Vanessa Mello Boaroli', email: 'vanessaboaroli@gmail.com' },
                    { name: 'Luiz Otávio Amboni', email: 'luiz@gmail.com' }
                ];
                vm.keylength = Object.keys(angular.copy(vm.users[0])).length;
                
                vm.addUser = addUser;
                function addUser(user) {
                    vm.users.push(angular.copy(user));
                };

                vm.remove = remove;
                function remove(users) {
                    vm.users = users.filter(function(el) { return !el.selecionado });
                };

                vm.edit = edit;
                function edit(user, index) {
                    vm.form = angular.copy(user);
                    vm.form.index = index;
                    vm.editing = true;
                };

                vm.save = save;
                function save(user) {
                    var users = vm.users.map(function(el, i) {
                        if (i === user.index) {
                            delete user.index;
                            return user;
                        }
                        return el;
                    });
                    vm.users = users;
                    vm.editing = false;
                };
            };
            
        </script>
    </body>
</html>
