<!doctype html>
<html lang="pt" data-ng-app="BeMEAN">
    <head>
        <meta charset="utf-8">
        <title>Be MEAN</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    </head>
    <style>
        html body select {
            display: inline-block;
        }
        .wrapper {
            max-width: 600px;
            margin: 0 auto;
        }
        .ng-valid {
            background-color: #B4E5C4;
        }
        .invalid {
            background-color: red;
        }
    </style>
    <body data-ng-controller="UserController as User">
        <section class="row wrapper">
            <h1 data-ng-class="User.tituloStyle">{{ User.titulo }}</h1>
            
            <div class="col s12">
                <form name="User.userForm" data-ng-submit="User.submitForm(User.form)">
                    <div data-ng-class="{'invalid' : User.form.name.$invalid && !User.form.name.$pristine}">
                        <label>Name</label>
                        <input type="text" name="name" data-ng-minlength="3" data-ng-model="User.form.name" placeholder="Name" required>
                    </div>
                    <p data-ng-show="User.userForm.name.$error.minlength">
                        Nome precisa ser maior ou igual a 3 letras.
                    </p>
                    <div data-ng-class="{'invalid' : User.form.email.$invalid && !User.form.name.$pristine}">
                        <label>Email</label>
                        <input type="email" name="email" data-ng-model="User.form.email">
                    </div>
                    <div data-ng-class="{'invalid' : User.form.phone.$invalid && !User.form.phone.$pristine}">
                        <label>Phone</label>
                        <input type="phone" name="phone" data-ng-pattern="User.regexPhone" data-ng-model="User.form.phone">
                    </div>
                    <p data-ng-show="User.userForm.phone.$error.pattern">
                        O telefone não está no formato correto.
                    </p>
                    <button data-ng-disabled="User.editing" class="btn btn-large animate green waves-effect waves light col s12" type="submit" name="action">Adicionar</button>
                    <button data-ng-disabled="!User.editing" data-ng-click="User.save(User.form)" class="btn btn-large animate blue waves-effect waves light col s12" type="submit" name="action">Salvar</button>
                </form>
            </div>
            <span data-ng-init="predicate = 'name'; reverse = true; "></span>        
            <table>
                <thead>
                    <tr>
                        <th colspan="4">
                            <label>
                                <input data-ng-model="searchUser" placeholder="O que você procura?">
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-class="{bold: !user.selecionado, strike: user.selecionado}" class="item" data-ng-repeat="user in User.users | orderBy:User.predicate:User.reverse | filter:searchUser">
                        <td>
                            <input type="checkbox" id="user-{{$index}}" data-ng-model="user.selecionado" />
                            <label for="user-{{$index}}"></label>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button data-ng-click="User.edit(user, $index)" class="btn blue waves-effect waves light col s12" type="submit" name="action">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </section>
        <script src="angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-animate.js"></script>
        <script>
            
            angular.module('BeMEAN', ['ngAnimate'])
            .controller('UserController', UserController);
            
            function UserController() {
                var vm = this;
                vm.titulo = 'Be MEAN';
                vm.users = [
                    { name: 'Lucas Boeing Scarduelli', email: 'lucas@scarduelli.com', type: 'teacher', active: true },
                    { name: 'Vanessa Mello Boaroli', email: 'vanessaboaroli@gmail.com', type: 'teacher', active: false },
                    { name: 'Luiz Otávio Amboni', email: 'luiz@gmail.com', type: 'student', active: true },
                    { name: 'Chimbinha da Silva', email: 'chimbinha@calypso.com.br', type: 'student', active: false },
                    { name: 'Joelma Lasqueira', email: 'joelma@calypso.com.br', type: 'student', active: false }
                ];
                
                vm.add = add;
                function add(user) {
                    vm.users.push(angular.copy(user));
                };
                
                vm.submitForm = submitForm;
                function submitForm(user) {
                    add(user);
                };
                
                vm.regexPhone = /9?([0-9]{4})-?([0-9]{4})/;
            };
            
        </script>
    </body>
</html>
